body {
  
}
header {
  background-color: #E33DD5;
  display: flex;
  text-align: center;
  flex-direction: column;
  height: auto;
  margin-top: 10px;
}
header h1 {
  font-size: 5em;
  color: #55E31B;
  font-family: 'Lobster', cursive;
  padding: 0 10%;
}
nav {
  background-color: #E3C449 ;
}
nav a {
  padding: 0 3%;
  margin: 0 1%;
  background-color: blanchedalmond;
  font-size: x-large;
  border-radius: 5px;
  height: 50px;
  border: 1px solid black;
}
.locations {
  background-color: #272FE3;
  color: #E33DD5; 
  border: 1px solid #272FE3;
}
.locations h2 {
  text-align: center;
  font-size: 3rem;
  font-family: 'Anton', sans-serif;
}
.three_img_group {
  display: inline-flex;
  justify-content: center;
}
.three_img_group figure {
  display: flex;
  flex-direction: column;
  width: 25%;
  border: 1px solid red;
}
.three_img_group img {
  background-color: #E3C449;
  padding: 3%;
  display: flex;
  width: 94%;
  height: auto; 
}
.goal {
  background-color: #55E31B;
  color: #272FE3;
  border: 1px solid #55E31B;
}
.goal h2 {
  text-align: center; 
  font-size: 3rem;
  font-family: 'Anton', sans-serif;
  padding: 0 10%;
}
footer {
  background-color: #E33DD5;
  color: #55E31B;
  border: 1px solid #E33DD5;
  
  
}
footer h2 {
  text-align: center;
  font-size: 3rem;
  
  font-family: 'Anton', sans-serif;
  font-weight: 500;
}
footer p {
  text-align: center;
  font-size: 2rem;
  line-height: 4rem;
  font-family: 'Lobster', cursive;
  font-weight: 500;
}

figcaption {
  font-size: 1.5em;
  line-height: 1.5em;
  text-align: center;

}

/* Screen size below 600px */

@media only screen and (max-width:600px) {
  .three_img_group {
    flex-direction: column;
    padding: 0 2%;
  }
  .three_img_group figure {
    flex-direction: row;
    width: 100%;
    margin: 1% 0;
  }
  .three_img_group img {
    width: 60%;
    height: 100%;
  }
  figcaption {
    align-self: center;
    padding: 0 2%;
    
  
  }
}
  
