body {
  background-color: #8A32E3;
}
header {
  background-color: #E33DD5;
  display: flex;
  text-align: center;
  flex-direction: column;
  height: auto;
  margin: 30px 2% 0;
  
}
 

header h1 {
  font-size: 5em;
  color: #55E31B;
  font-family: 'Lobster', cursive;
}
nav {
  background-color: #E3C449 ;
}
nav a {
  padding: 0 3%;
  margin: 0 1%;
  background-color: blanchedalmond;
  font-size: x-large;
  border-radius: 5px;
  height: 50px;
  border: 1px solid black;
}
.main_sect {
  margin: 50px 2%;
}
.locations {
  background-color: #272FE3;
  
}
.locations h2 {
  text-align: center;
  color: #E33DD5;
  font-size: 3rem;
  line-height: 6rem;
  font-family: 'Anton', sans-serif;
}

.three_img_group {
  display: flex;
  justify-content: space-evenly;
}

.three_img_group img {
  width: 27%;
  height: 100%;
  padding: 3px;
  background-color: khaki;
  margin: 0 0 30px;
}
.goal {
  background-color: #55E31B;
}
.goal h2 {
  color: #272FE3;
  text-align: center;
  line-height: 6rem;
  font-size: 3rem;
  font-family: 'Anton', sans-serif;
}

footer {
  background-color: #E33DD5;
  color: #55E31B;
  
}

footer h2 {
  text-align: center;
  font-size: 3rem;
  line-height: 6rem;
  font-family: 'Anton', sans-serif;
}
footer p {
  text-align: center;
  font-size: 2rem;
  line-height: 4rem;
  font-family: 'Lobster', cursive;
}